div {
    width: 350px;
    height: 350px;
    background-color: red;
    display: inline-block;
    color: yellow;
    padding: 15px;    
    margin: 10px;
    box-sizing: border-box;
    box-shadow: 5px 5px 0 px black;
    /*opacity: .5;*/
}



#dos {
    background-color: black;
    color: white;
   
}
